.hidden {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #74a765;
  text-align: center;
  padding: 15px;
}

#gameCanvas {
  margin-top: 100px;
}

#gameInfo {
  width: 20%;
  z-index: 5;
  display: inline-block;
  background-color: white;
  color: rgb(24, 24, 24);
  text-align: center;
  border-radius: 15px;
  position: absolute;
  left: 40%;
  -webkit-box-shadow: 9px 10px 25px 2px rgba(0, 0, 0, 0.219);
  box-shadow: 9px 10px 25px 2px rgba(0, 0, 0, 0.219);
}

.box {
  width: 200px;
  z-index: 5;
  display: inline-block;
  padding: 30px 50px;
  background-color: white;
  color: rgb(24, 24, 24);
  text-align: center;
  border-radius: 15px;
  margin: auto;
  position: absolute;
  -webkit-box-shadow: 9px 10px 25px 2px rgba(0, 0, 0, 0.219);
  box-shadow: 9px 10px 25px 2px rgba(0, 0, 0, 0.219);
}

#settingsDialog {
  margin-left: 10%;
  left: 0;
  height: 750px;
}

#playerDialog {
  margin-right: 10%;
  right: 0;
  height: 250px;
}

button {
  right: 10px;
  top: 17px;
  font-size: 1.3em;
  background: none;
  border: none;
  outline: none;
  color: #df8f45;
  cursor: pointer;
}

button:hover {
  color: #c37d3bc4;
  transform: scale(1.1);
}

.formSection {
  margin-top: 20px;
}

.formElement {
  display: flex;
  margin-top: 10px;
}

.formElement label {
  margin-right: 10px;
}

.formElement input {
  width: 80%;
}

form button[type="submit"] {
  margin-top: 30px;
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top*/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 25px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -125px;
  font-weight: 700 !important;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

p,
h4,
h3,
h2,
label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=number], select {
  position: absolute;
  width: 80px;
  padding: 12px 20px;
  margin: 0px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right;
  right: 20px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}