body {
    font-family: 'Montserrat', sans-serif;
    background: #4B543B;
    text-align: center;
    padding: 15px;
}

h1 {
    font-size: 5em;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form > p, h2, span{
    color: white;
}

label{
    color: white;
    font-size: 20px;
}

.form {
    margin: 0 auto;
    text-align: center;
    background-color: #4B543B;
    border-radius: 10px;
    margin: 0 10%;
    padding: 2%;
    min-height: 100vh;
}

.front {
    margin: 10px;
    float: left;
}

.turned {
    cursor: pointer;
}

.turned p {
    display: none;
}

.show {
    visibility: hidden;
}

.show p {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #B57F50;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 20px;
    color: white;
    font-weight: 800;
    font-size: large;
}

#slider {
    width: 400px;
    height: 15px;
    -webkit-appearance: none;
    background: rgb(221, 221, 221);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgb(129, 129, 129);
}

.cardText{
    font-size: 200%;
    margin-top: 0;
}