html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(156, 176, 184);
}

div{
    border-style: solid;
    border-color: seashell;
    border-width: 11px;
    margin: 100px;
    height: 500px;
    width: 400px;
    display: inline-block;
    border-radius: 8px;
}

.span {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51, 51, 51);
    background-color: rgba(233, 233, 233, 0.377);
    border-radius: 0 8px 8px 8px;
    position: fixed;
    padding: 10px;
}

.div0 {
    background-color: rgb(60, 79, 97);
}

.div1 {
    background-color: rgb(118, 134, 148);
}

h1 {
    position: absolute;
    color: seashell;
    left: 20px;
}